@font-face {
  font-family: "icons";
  src: url("/font/icons.eot?t=1783437290440"); /* IE9*/
  src:
    url("/font/icons.eot?t=1783437290440#iefix") format("embedded-opentype")
      /* IE6-IE8 */,
    url("/font/icons.woff2?t=1783437290440") format("woff2"),
    url("/font/icons.woff?t=1783437290440") format("woff"),
    url("/font/icons.ttf?t=1783437290440") format("truetype"),
    url("/font/icons.svg?t=1783437290440") format("svg");
}

[class^="icons-"],
[class*=" icons-"] {
  font-family: "icons" !important;
  font-size: undefined;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icons-bars::before {
  content: "\e001";
}
.icons-calendar-alt::before {
  content: "\e002";
}
.icons-chevron-down::before {
  content: "\e003";
}
.icons-chevron-left::before {
  content: "\e004";
}
.icons-chevron-right::before {
  content: "\e005";
}
.icons-chevron-up::before {
  content: "\e006";
}
.icons-close::before {
  content: "\e007";
}
.icons-facebook-square::before {
  content: "\e009";
}
.icons-filter-old::before {
  content: "\e00a";
}
.icons-filter::before {
  content: "\e00b";
}
.icons-heart-outline::before {
  content: "\e00c";
}
.icons-heart::before {
  content: "\e00d";
}
.icons-kwenchr::before {
  content: "\e00e";
}
.icons-map-marker-alt::before {
  content: "\e00f";
}
.icons-search::before {
  content: "\e010";
}
.icons-times-circle::before {
  content: "\e011";
}
.icons-times::before {
  content: "\e012";
}
.icons-twitter-square::before {
  content: "\e013";
}
.icons-user-circle::before {
  content: "\e014";
}

$icons-bars: "\e001";
$icons-calendar-alt: "\e002";
$icons-chevron-down: "\e003";
$icons-chevron-left: "\e004";
$icons-chevron-right: "\e005";
$icons-chevron-up: "\e006";
$icons-close: "\e007";
$icons-facebook-square: "\e009";
$icons-filter-old: "\e00a";
$icons-filter: "\e00b";
$icons-heart-outline: "\e00c";
$icons-heart: "\e00d";
$icons-kwenchr: "\e00e";
$icons-map-marker-alt: "\e00f";
$icons-search: "\e010";
$icons-times-circle: "\e011";
$icons-times: "\e012";
$icons-twitter-square: "\e013";
$icons-user-circle: "\e014";
