@font-face {
  font-family: "icons";
  src: url('/font/icons.eot?t=1783536199485'); /* IE9*/
  src: url('/font/icons.eot?t=1783536199485#iefix') format('embedded-opentype') /* IE6-IE8 */,
  url('/font/icons.woff2?t=1783536199485') format('woff2'),
  url('/font/icons.woff?t=1783536199485') format('woff'),
  url('/font/icons.ttf?t=1783536199485') format('truetype'),
  url('/font/icons.svg?t=1783536199485') format('svg');
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons' !important;font-size: undefined;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




.icon-bars::before { content: "\e001"; }
.icon-calendar-alt::before { content: "\e002"; }
.icon-chevron-down::before { content: "\e003"; }
.icon-chevron-left::before { content: "\e004"; }
.icon-chevron-right::before { content: "\e005"; }
.icon-chevron-up::before { content: "\e006"; }
.icon-close::before { content: "\e007"; }
.icon-facebook-square::before { content: "\e008"; }
.icon-filter-old::before { content: "\e009"; }
.icon-filter::before { content: "\e00a"; }
.icon-heart-outline::before { content: "\e00b"; }
.icon-heart::before { content: "\e00c"; }
.icon-kwenchr::before { content: "\e00d"; }
.icon-map-marker-alt::before { content: "\e00e"; }
.icon-search::before { content: "\e00f"; }
.icon-times-circle::before { content: "\e010"; }
.icon-times::before { content: "\e011"; }
.icon-twitter-square::before { content: "\e012"; }
.icon-user-circle::before { content: "\e013"; }


